{% extends 'base.html' %}

{% block title %}
  Control Panel
{% endblock %}

{% block header %}
  <h1>Control Panel</h1>
{% endblock %}

{% block content %}
  <div>IP {{ user_info['ip'] }}</div>
  <div>KEY {{ user_info['key'] }}</div>
{% endblock %}
