{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="user">User</label>
    <input name="user" id="user">
    <label for="passphrase">Passphrase</label>
    <input type="passphrase" name="passphrase" id="passphrase">
    <input type="submit" value="Log In">
  </form>
{% endblock %}